:host
{
	contain:content;
	display:flex;
	flex-direction:column;
}
.cursor-info
{
	color:#fff;
	height:100%;
	flex:1 1 auto;
}
main
{
	display:flex;
	flex:1 1 auto;
	position:relative;
	overflow:hidden;
	width:100%;
}
footer
{
	background:#000;
	display:flex;
	flex:0 0 auto;
	flex-direction:row;
	min-height:1.2rem;
	width:100%;
}
canvas,
textarea
{
	border:0;
	height:100%;
	position:absolute;
	margin:0;
	padding:0;
	width:100%;
}
/*@todo add text highlight color*/
textarea
{
	background:transparent;
	color:#fff;/*cursor color*/
	font-family:'Source Code Pro', monospace;
	font-size:1.2rem;
	line-height:120%;
	opacity:0.5;
	overflow:scroll;
	resize:none;
	tab-size:4;
	-webkit-text-fill-color:transparent;/*does not affect cursor color*/
	white-space:pre;
}
textarea:focus
{
	outline:none;
}